@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.header {
    width: 100%;
    height: auto;
    min-height: 100px;
    z-index: 10;
    position: relative;
    position: fixed;
    top: 0px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
}

.header .container {
    padding-top: 10px;
}

.header #nav-menu {
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 18px;
}

.header #nav-menu span {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.header #nav-menu #select {
    color: #6d4bab;
    font-weight: bold;
}

.header-trans {
    min-height: 50px;
    border-bottom: 1px solid rgb(233, 233, 233);
    background-color: rgba(255, 255, 255, 1) !important;
    color: black;
}
.header #logo-house {
    width: 30px;
}

.header #logo-main {
    width: 120px;
}

#home-logo {
    float: left;
    width: 160px;
    cursor: pointer;
}
#nav-menu {
}
.serach-field {
    display: none;

    float: left;
    height: 50px;
    padding-top: 15px;
    width: calc(100% - 160px);
}
.serach-field .search-box {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    height: 100%;
    font-size: 18px;
    line-height: 30px;
}
.serach-field .search-box .option-box {
    width: 80px;
    float: left;
}
.serach-field .search-box .input-box {
    padding-left: 10px;
    border-left: 1px solid rgb(209, 209, 209);
    width: calc(100% - 125px);
    float: left;
}
.serach-field .search-box .cancle-box {
    width: 35px;
    cursor: pointer;
    float: left;
}
.serach-field .search-box .option-box select {
    border: none;
    outline: none;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.serach-field .search-box .input-box input {
    width: 100%;
    border: none;
}
.serach-field .search-box .input-box input:focus {
    outline: none;
}