@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.header {
    width: 100%;
    height: auto;
    min-height: 100px;
    z-index: 10;
    position: relative;
    position: fixed;
    top: 0px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
}

.header .container {
    padding-top: 10px;
}

.header #nav-menu {
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 18px;
}

.header #nav-menu span {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.header #nav-menu #select {
    color: #6d4bab;
    font-weight: bold;
}

.header-trans {
    min-height: 50px;
    border-bottom: 1px solid rgb(233, 233, 233);
    background-color: rgba(255, 255, 255, 1) !important;
    color: black;
}
.header #logo-house {
    width: 30px;
}

.header #logo-main {
    width: 120px;
}
