@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
.banner {
    width: 100%;
    top: 0px;
    position: absolute;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1566314748563-31d8ce08123b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
    font-family: "Noto Sans KR", sans-serif;
}

.banner .black-mask {
    height: 100vh;
    background-color: rgba(3, 3, 3, 0.3);
}

.banner .content {
    padding-top: 130px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.banner .content #title {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.banner .content #descript {
    font-size: 20px;
    color: white;
}

.banner .content #get-started {
    cursor: pointer;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-size: 20px;
    border: 1px solid white;
    text-decoration: none;
}
.banner .content #get-started:hover {
    color: red;
    border: 1px solid red;
}

.article {
    font-family: "Noto Sans KR", sans-serif;
}

.article-wrapper {
    padding-top: 100px;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
}

.article .content-header {
    font-weight: bold;
    font-size: 30px;
    color: #6d4bab;
}

.article .content-header #header-descript {
    font-size: 16px;
    color: gray;
}

.article .content {
    padding-top: 20px;
    padding-bottom: 30px;

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.article .content .table {
    margin-top: 30px;
    background: white;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding-bottom: 10px;
    overflow: hidden;
}

.article .content .table .book-header {
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}

.article .content .table .book-header .book-header-col {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #6d4bab;
    font-weight: bold;
}

.article .content .table .book-item {
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #f3f3f3;
    padding-bottom: 10px;
    cursor: pointer;
}
.article .content .table .book-item:hover {
    background-color: rgb(238, 238, 238);
}

.article .content .table .book-item .book-item-col {
    float: left;
}
.article .content .table #id {
    width: 9%;
}
.article .content .table #name {
    width: 30%;
}
.article .content .table #author {
    width: 15%;
}
.article .content .table #price {
    width: 15%;
}
.article .content .table #borrow-flag {
    width: 10%;
}
.article .content .table #borrow-count {
    width: 15%;
}
.article .content .table #return {
    background-color: #6d4bab;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.article .content .table #borrow-btn {
    background-color: #6d4bab;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.article .content-main .input-row {
    overflow: hidden;
    height: 40px;

    margin-top: 20px;
}

.article .content-main .input-col {
    float: left;
    height: 100%;
    width: 50%;
}
.article .content-main .input-col input {
    font-size: 18px;
    height: 40px;
}
.article .content-main .submit-col {
    float: right;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #6d4bab;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
}

.article .content-main .borrow-button {
    float: right;
    height: 100%;
    margin-right: 10px;
    background-color: #6d4bab;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    width: 80px;
    cursor: pointer;
    line-height: 40px;
}

.article .content-main .success-result-row {
    text-align: center;
    font-size: 20px;
    color: #6d4bab;
}
.article .content-main .fail-result-row {
    text-align: center;
    font-size: 20px;
    color: #df1313;
}

.article .content-main .return-home {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.article .content-main .input-item {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin-top: 10px;
}

.article .content-main .input-item #add-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.article .content-main .input-item input {
    height: 50px;
}

.article .content-main .no-books {
    text-align: center;
    font-size: 20px;
}

.pagination-wrapper {
    text-align: center;
}

.pagination-wrapper .pagination-inner {
    display: inline-block;
}

.pagination .page-item .page-link {
    cursor: pointer;
}
.pagination .select {
    background: rgb(92, 92, 245);
    color: white;
}

.text-box {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.text {
    position: absolute;
    top: 50%;
    left: 32%;
    width: 450px;
    margin-left: -225px;
    height: 40px;
    margin-top: -20px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 220px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #b081c3;
}

.belize {
    color: #7ca2bb;
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #5bdf1d;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.table .No {
    pointer-events: none;
}
.table .No:hover {
    background-color: white !important;
}
.book-item .No {
    /* color: rgb(173, 88, 88); */
    color: rgb(184, 184, 184);
    /* color: white; */
}